  <% @users.each do |user| %>
    <ul>
      <li><%= user.username %></li>
      <li><%= user.email %></li>
      <li> <%= link_to "Show", user %> </li>
      <%# <li> <%= link_to "Edit", edit_user_path %> </li> %>
    </ul>
  <% end %>