<form action="new" method="POST" accept-charset="UTF-8">
<label for="username"> Username</label>
<input type="text" name="username">
<label for="email">Email</label>
<input type="text" name="email">
<label for="password">Password</label>
<input type="password" name="password">
<label for="password_confirmation" name="password_confirmation">Password confirmation</label>
<input type="password" name="password_confimation">

</form>